.container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.about-me-box-left{
    align-items: center;
    justify-content: center;
    text-align:center
 }
 
 .about-me-box-right{   
     text-align: left;
     background-color: var(--light-beige);
     padding-top: 2rem;
     padding-left: 2rem;
     
 }


.values-tablet-and-mobile{
    display:flex;
}



      /*card flipping 2.0*/

      .container {
        display: flex;
        justify-content: center;
        align-items: center;
  
      }
      
      .card {
        width: 270px;
        height: 270px;
        margin: 10px;
        perspective: 800px;
        cursor: pointer;
        position: relative;
        border-radius: 20px;
      }
      
      .front, .back {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        transition: transform 0.6s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 20px;
        box-sizing: border-box;
      }
      
      .front {
        color: var(--orange);
        background-color: var(--light-beige);
        z-index: 2;
      }
      
      .back {
        background-color: var(--light-beige);
        transform: rotateY(180deg);
        font-size: 15px;

      }
      
      .card:hover .front {
        transform: rotateY(180deg);
      }
      
      .card:hover .back {
        transform: rotateY(0deg);
      }
      


 /* css style für mobile */
 @media (max-width: 834px) {
    .flex-container {
        flex-direction: column;
      }

    .about-me-flex-container {
        flex-direction: column;
      }

      .about-me-box-left{
        text-align: left;
        padding-left: 2rem;
        padding-right: 2rem;
    
    }

    .about-me-box-right{   
        padding-bottom: 2rem;
        width: 100%;
    }

    .values-tablet-and-mobile{
        display:flex;
    }

    .values-desktop{
        display:none;
    }


    .values-tablet-and-mobile{
        flex-direction: column;
        padding:1rem;
    }


    .value-flex-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 20px;
        padding:1.5rem;
        width: 20rem;
        height: 20rem;
    }

    .value-flex-item-title{
        padding-bottom: 1rem;
       color: var(--orange);
    }

    .value-flex-item-body{
        color: var(--dark-grey);
     }

 }

 /* css style für tablet */

 @media (min-width: 835px) {

    .flex-container {
        flex-direction: row;
        text-align: center;
        padding-left: 5rem;
        padding-right: 5rem;
      }


    .about-me-flex-container {
        flex-direction: row;
        padding-left: 5rem;
    }

    .about-me-box-left{
        vertical-align: middle;
        padding-right: 5rem;
        text-align: left;
    }

    .about-me-box-right{
        width: 120%;
        border-radius: 20px 0px 0px 20px;
        padding: 1rem;
    }
    .value-flex-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 20px;
        padding:1.5rem;
        width: 20rem;
        height: 20rem;
    }

    .value-flex-item-title{
        padding-bottom: 1rem;
        color: var(--orange);
    }

    .value-flex-item-body{
        color: var(--dark-grey);
    }

    .values-tablet-and-mobile{
        display: inline;
    }

    .values-desktop{
        display:none;
    }

 }


/* css style für desktop */
@media (min-width: 1080px) {

    .flex-container {
        flex-direction: row;
        text-align: center; 
        padding-right: 9rem;
        padding-left: 9rem;
    }

    .about-me-flex-container {
        flex-direction: row;
        padding-left: 10rem;
        text-align: right;
    }

    .about-me-box-left{
        vertical-align: top;
        padding-right: 10rem;
        text-align: left;
    }

    .about-me-box-right{
        width: 85%;
        border-radius: 20px 0px 0px 20px;
        padding: 1rem;
    }

    .values-tablet-and-mobile{
        display:none;
    }

    .values-desktop{
        display: inline;
    }

    .value-flex-item{
        border-radius: 20px;
    
    }

    
}
