@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Lora&display=swap');

:root {
    --off-white: #F5F5F5;
    --dark-grey: #272727;
    --orange: #B75800;
    --light-beige: #E7E3CF;
    --sans-serif: 'Futura', monospace;
    --serif: 'futura', serif;

}

/* Type */
body {
    font-family: var(--serif);
}

* {
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: var(--sans-serif);
    margin-bottom: 0.5rem;
}

h1, .h1 { font-size: 2.5rem }
h2, .h2 { font-size: 1.875rem }
h3, .h3 { font-size: 1.25rem }
h4, .h4 { font-size: 0.938rem }

/*
h5, .h5 { font-size: 1.333rem }
h6, .h6 { font-size: 1rem }
*/

p, ul, ol {
    margin-bottom: 1rem;
}

/* Layout 
section {
    margin: 2.5rem 0;
}
*/
nav {
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

/* unvisited link */
a:link {
    color: var(--dark-grey);
  }
  
/* visited link */
a:visited {
    color: var(--dark-grey);
  }
  
/* mouse over link */
a:hover {
    color: var(--orange);
  }
  
/* selected link */
a:active {
    color: var(--dark-grey);
  }


/* Styles the links inside the navigation bar */
.topnav a {
    float: left;
    color: --dark-gray;
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;
  }

  /* Change the color of links on hover */
.topnav a:hover {
    color: --orange;
  }

  

ul, ol {
    margin-left: 2rem;
}

.container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
}

.col-1 { grid-column: span 1; }
.col-2 { grid-column: span 2; }
.col-3 { grid-column: span 3; }
.col-4 { grid-column: span 4; }
.col-5 { grid-column: span 5; }
.col-6 { grid-column: span 6; }
.col-7 { grid-column: span 7; }
.col-8 { grid-column: span 8; }
.col-9 { grid-column: span 9; }
.col-10 { grid-column: span 10; }
.col-11 { grid-column: span 11; }
.col-12 { grid-column: span 12; }

@media screen and (min-width: 568px) {
    
    .col-1-sm { grid-column: span 1; }
    .col-2-sm { grid-column: span 2; }
    .col-3-sm { grid-column: span 3; }
    .col-4-sm { grid-column: span 4; }
    .col-5-sm { grid-column: span 5; }
    .col-6-sm { grid-column: span 6; }
    .col-7-sm { grid-column: span 7; }
    .col-8-sm { grid-column: span 8; }
    .col-9-sm { grid-column: span 9; }
    .col-10-sm { grid-column: span 10; }
    .col-11-sm { grid-column: span 11; }
    .col-12-sm { grid-column: span 12; }

}

@media screen and (min-width: 834px) {
    
    .col-1-md { grid-column: span 1; }
    .col-2-md { grid-column: span 2; }
    .col-3-md { grid-column: span 3; }
    .col-4-md { grid-column: span 4; }
    .col-5-md { grid-column: span 5; }
    .col-6-md { grid-column: span 6; }
    .col-7-md { grid-column: span 7; }
    .col-8-md { grid-column: span 8; }
    .col-9-md { grid-column: span 9; }
    .col-10-md { grid-column: span 10; }
    .col-11-md { grid-column: span 11; }
    .col-12-md { grid-column: span 12; }

}

@media screen and (min-width: 1080px) {
    
    .col-1-lg { grid-column: span 1; }
    .col-2-lg { grid-column: span 2; }
    .col-3-lg { grid-column: span 3; }
    .col-4-lg { grid-column: span 4; }
    .col-5-lg { grid-column: span 5; }
    .col-6-lg { grid-column: span 6; }
    .col-7-lg { grid-column: span 7; }
    .col-8-lg { grid-column: span 8; }
    .col-9-lg { grid-column: span 9; }
    .col-10-lg { grid-column: span 10; }
    .col-11-lg { grid-column: span 11; }
    .col-12-lg { grid-column: span 12; }

}

/* Discipline Box */

.discipline-box {
    border-width: 1px;
    border-style: solid;
    border-color: var(--light-beige);
    border-radius: 20px;
    background-color: var(--light-beige);
}

.discipline-box__meta {
    padding: 0.33rem 1rem;
}

.discipline-box__title {
    background: var(--dark-gray);
    color: white;
    padding: 0.125rem 1rem 0.25rem;
}

.discipline-box__title .h4 {
    font-family: var(--serif);
    margin: 0;
}

.discipline-box__content {
    padding: 1.5rem 1rem;
}

/*project cards*/

.project-cards {
    border-width: 1px;
    border-style: solid;
    border-color: var(--light-beige);
    border-radius: 20px;
    background-color: var(--off-white);
    padding-top: 3.25rem;
}

.project-cards__title {
    color: var(--dark-grey);
    padding: 0.125rem 1rem 0.25rem;
}

.project-cards__dicipline{
    color: var(--orange);
    padding: 0.125rem 1rem 0.25rem
}

.discipline{
    color: var(--orange); 
}

.work-section {
    background-color: #E7E3CF;
    border-radius:  1.25rem;
}

/* flex container f端r cards*/

.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 0.938rem;
    text-align: center ;
    justify-content: space-evenly;
    padding-bottom: 2rem;
    
  }

  .target-discipline-flex-container {
    display: flex;
    flex-direction: row;
    font-size: 0.938rem;
    text-align: center ;
    justify-content: space-evenly;
    padding-bottom: 2rem;
  }

  .about-me-flex-container {
    display: flex;
    flex-direction: row;
    font-size: 0.938rem;
    justify-content: space-evenly;
    padding-bottom: 2rem;
    
  }

  .project-detail-header-flex-container {
    display: flex;
    flex-direction: row;
    font-size: 0.938rem;
  }
  
  .project-flex-container {
    display: flex;
    flex-direction: row;
    font-size: 0.938rem;
    justify-content: space-evenly;
  }
  

  .flex-item {
    padding: 1rem;
    text-align: left;
  }

  .value-flex-item {
    text-align: center;
    color: var(--orange);
    background-color: var(--light-beige);
  }

  .footer{
    text-align: center;
    justify-content: space-evenly;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.footer-content{
    padding: 2rem;
    color: #B75800

}

.target-discipline-box{
    padding-top: 5rem;
}

.button{
    border-radius: 50px; 
    background-color: #B75800; 
    color: white; 
    border: solid;
    font-weight: bold;
}

.about-me-box-left{
   align-items: center;
   justify-content: center;
   text-align:center
}

.about-me-box-right{   
    text-align: left;
    background-color: var(--light-beige);
    
}

.project-detail-header{
    background-color: var(--light-beige);
    border-radius: 20px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.project-header-box-left{
    text-align: left;
}

.project-header-box-right{   
    text-align: left;
    background-color: var(--light-beige);
   
}

.project-box-left{
    text-align: left;
}

.project-box-right{   
    align-items: center;
    justify-items: center;
}




  /* css style f端r mobile */
  @media (max-width: 834px) {
    .flex-container {
      flex-direction: column;
      
    }

    .target-discipline-flex-container{
        flex-direction: column-reverse;
    }

    .about-me-flex-container {
        flex-direction: column;

      }

      .project-detail-header-flex-container {
        flex-direction: row;

     }

     .project-flex-container {
        flex-direction: column;

      }
      

    .welcome-section{
        padding-left:1.25rem;
        padding-right:1.25rem;
        padding-top: 9.063rem;
        padding-bottom: 11.875rem;
      
    }

    .title{
        padding: 2rem;
    }

    .target-discipline-box-left{
        text-align: left;
        padding-left: 2rem;
        padding-right: 2rem;
        
    }

    .target-discipline-box-right{   
        padding-bottom: 2rem;
    }

    .about-me-box-left{
        text-align: left;
        padding-left: 2rem;
        padding-right: 2rem;
    
    }

    .about-me-box-right{   
        padding-bottom: 2rem;
        width: 100%;
    }

    .value-flex-item{
        border-radius: 20px;
        padding: 8rem;
    }

    .project-header-box-left{
        padding-left: 2rem;
        justify-content: center;
       
    }

    .project-header-box-right{
        align-items: right;
        padding-left: 2rem;
        text-align: right;
    }

    .button{ 
        padding-right: 2rem; 
        padding-left: 2rem; 
        padding-top: 1rem; 
        padding-bottom: 1rem;
    }

    .project-box-left{
        vertical-align: middle;
        justify-content: center;
        padding-top: 1rem;

    }

    .project-box-right{
        vertical-align: middle;
        padding:1rem;   
        text-align: left;
    }

  }

  


  /* css style f端r tablet */

  @media (min-width: 835px) {
    .flex-container {
      flex-direction: row;
      text-align: center;
      padding-left: 5rem;
      padding-right: 5rem;
    }

    .target-discipline-flex-container {
        padding-left: 5rem;
    }

    .about-me-flex-container {
        flex-direction: row;
        padding-left: 5rem;
      
    }

    .project-detail-header-flex-container {
        flex-direction: row;
        padding-left: 5rem;
      
    }

    .project-flex-container {
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 3rem;
        
    }
  

    .welcome-section{
        padding-left:5rem;
        padding-left:3rem;
        padding-top: 9.063rem;
        padding-bottom: 11.875rem;
        }

        .title{
            padding: 5rem;
            padding-top: 2rem;
            padding-bottom: 2rem;
        }

        .target-discipline-box-left{
            vertical-align: middle;
            padding-right: 5rem;
            padding-top: 5rem;
            text-align: left;
        }

        .about-me-box-left{
            vertical-align: middle;
            padding-right: 5rem;
            text-align: left;
        }

        .about-me-box-right{
            width: 120%;
            border-radius: 20px 0px 0px 20px;
            padding: 1rem;
        }

        .project-header-box-left{
            vertical-align: middle;
            padding-right: 10rem;
            text-align: left;
        }

        .project-header-box-right{
            align-items: right;
            padding-left: 3rem;
        }

        .value-flex-item{
            border-radius: 20px;
            padding: 8rem;
        }

        .button{ 
            padding-right: 3.188rem; 
            padding-left: 3.188rem; 
            padding-top: 1.188rem; 
            padding-bottom: 1.188rem;
        }

        .project-box-left{
            vertical-align: middle;
            justify-content: center;
        }

        .project-box-right{
            vertical-align: middle;
            padding-left: 5rem;
            text-align: left;
        }

    }

    /* css style f端r desktop */
    @media (min-width: 1080px) {
        .flex-container {
          flex-direction: row;
          text-align: center; 
          padding-right: 10rem;
          padding-left: 10rem;
        
        }

        .target-discipline-flex-container {
           padding-left: 10rem;
          }

          .about-me-flex-container {
            flex-direction: row;
            padding-left: 10rem;
            text-align: right;

          }

          .project-detail-header-flex-container {
            flex-direction: row;
            justify-content: space-between;
          
        }
    
        .welcome-section{
            padding-left:10rem;
            padding-top: 9.063rem;
            padding-bottom: 11.875rem;
        }

        .title{
            padding-left: 10rem;
            padding-top: 2rem;
            padding-bottom: 2rem;
        }

        .target-discipline-box-left{
            vertical-align: top;
            padding-right: 5rem;
            text-align: left;
        }

        .target-discipline-box-right{   
            padding-top: 5rem;
        }

        .about-me-box-left{
            vertical-align: top;
            padding-right: 10rem;
            text-align: left;
        }

        .about-me-box-right{
            width: 85%;
            border-radius: 20px 0px 0px 20px;
            padding: 1rem;
        }

        .project-header-box-left{
            vertical-align: middle;
            text-align: left;
        }

        .project-header-box-right{
            align-items: right;
        
        }


        .value-flex-item{
            border-radius: 20px;
            padding: 8rem;
        }


        .button{ 
            padding-right: 3.188rem; 
            padding-left: 3.188rem; 
            padding-top: 1.188rem; 
            padding-bottom: 1.188rem;
        }

        .project-box-left{
            justify-content: center;
        }

        .project-box-right{
            padding-left: 5rem;
    
        }


    }

    
 

